<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/css/styleHighscore.css">
    <title>Document</title>
</head>


<body>
    <div class="container"></div>
    <div>
        <ul>
            <li><a href="/trivia">Play</a></li>
            <li><a href="/login">Sign in / Log in</a></li>
            <li><a href="/members">Members</a></li>
        </ul>
    </div>
    <center>
        <div>
            <h1 style="color: black;">HighScores</h1>
        </div>
        <div>
            <p style="color: black;">
                highscore list
            </p> 
            
        </div>
    </center>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="/js/trivia-api.js"></script>

</body>
