<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styleInstructions.css">
    <link rel="stylesheet" type="text/css" href="css/styleHighscore.css">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <title>highScore</title>
</head>


<body>
        <nav>
            <a href="/trivia"><strong>Play</strong></a>
            
            <a href="/highscore"><strong>HighScores </strong></a>
            
            <a href="/login"><strong>Login/Sign Up</strong></a>
            
            <a href="/logout"><strong>Logout</strong></a>
        </nav>
    <div class="container2">
        <div>
            <h1>
                <span>C</span>
                <span>o</span>
                <span>v</span>
                <span>i</span>
                <span>d</span>
                <span>_</span>
                <span>T</span>
                <span>r</span>
                <span>i</span>
                <span>v</span>
                <span>i</span>
                <span>a</span>
            </h1>
        </div>
    </div>

    <div class="shadow">
        <h3 style="color: white;">HIGHSCORES</h3>
        
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="js/sketch.js"></script>
    <script type="text/javascript" src="js/particle.js"></script>
    <script type="text/javascript" src="/js/trivia-api.js"></script>

</body>
