<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/style2.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styleHighscore.css">
    <title>triviaLogo</title>
</head>
<div class="container"></div>
<div class="scene">
    <!--questionLogo-->
    <i class="fa fa-question" aria-hidden="true"></i>
    <!--droppingIcons-->
    <span class="drops book"><i class="fa fa-book" aria-hidden="true"></i></span>
    <span class="drops flask"><i class="fa fa-flask" aria-hidden="true"></i></span>
    <span class="drops bomb"><i class="fa fa-bomb" aria-hidden="true"></i></span>
    <span class="drops music"><i class="fa fa-music" aria-hidden="true"></i></span>
    <span class="drops globe"><i class="fa fa-globe" aria-hidden="true"></i></span>
    <span class="drops tv"><i class="fa fa-tv" aria-hidden="true"></i></span>
    <span class="drops mobile"><i class="fa fa-mobile" aria-hidden="true"></i></span>
    <!--triviaLetters-->
    <span class="letters t"><i class="fa fa-tumblr" aria-hidden="true"></i></span>
    <span class="letters r"><i class="fa fa-registered" aria-hidden="true"></i></span>
    <span class="letters i"><i class="fa fa-info" aria-hidden="true"></i></span>
    <span class="letters v"><i class="fa fa-vimeo" aria-hidden="true"></i></span>
    <span class="letters y"><i class=s"fa fa-italic" aria-hidden="true"></i></span>
    <span class="letters a"><i class="fa fa-at" aria-hidden="true"></i></span>
</div>
<br>
<div class="buttons">
    <a id="playButton" href="/members">
        <span class="front">START</span>
        <span class="middle"></span>
        <span class="back">TRIVIA</span>
    </a>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" src="js/highscore.js"></script>
</html>