<div class="home">
    <center>
        <h1 style="color: black;">This is the Home Screen</h1>
    </center>
    
    <ul>
        <li><a href="/trivia">Play</a></li>
        <li><a href="/highscore">Highscores</a></li>
        <li><a href="/login">Sign in / Log in</a></li>
        <li><a href="/members">Members</a></li>
    </ul>
</div>