<div class="howto">
    <center>
        <h1 style="color: black;">How To Play</h1>
    </center>

    <h3>The game is simple ...</h3>
    <p>Just like in the classic game Jeopardy.</p>
    <p>Pick a CATEGORY tile and the topic is relieved</p>
    <p>You than pick a tile from $100, $200, $300 or $400. If you answer correctly for score increase by that amount
         beware though, if you answer incorrectly you score will decrease by that amount</p>
    <p>You will have <bold>2:00 mins</bold> to answer as many questions as you can.</p>

    <center>
        <h1 style="color:blueviolet;">READY, SET.....GO!!!!!!!</h1>
    </center>
    
</div>