<div class="container">

    <center>
        <div class="mainmenu">
            <h1 style="color: black;"> Welcome</h1>
        </div> 
        <hr>
        <div class="mainmenu">
            <ul>
                <a href="/trivia"><strong>Play</strong></a>
                <br>
                <a href="/how"><strong>How To Play</strong></a>
                <br>
                <a href="/highscore"><strong>HighScores</strong></a>
                <br>
                <a href="/login"><strong>Login/Sign Up</strong></a>
            </ul>
        </div>
    </center>

</div>