
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styleTrivia.css">
    <link rel="stylesheet" type="text/css" href="css/styleTrivia.css">
    <title>triviaPage</title>
</head>

<div class="container shadow">
    <!-- coloumn1-->
    <div class="row">

            <!-- card1-->
            <div class="card">
                <div class="face face1" id="cat1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2">
                    <h1 id="category1" style="color: white;"></h1>
                    
                </div>
            </div>
            <!-- card2-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2" id="box1">
                    <p><span id="question" style="color: white;"></span></p>
                    <div class="answers">
                        <button class="incorrect">A</button>
                        <button class="incorrect">B</button>
                        <button class="correct">C</button>
                        <button class="incorrect">D</button>
                    </div>
                </div>
            </div>
            <!-- card3-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2" id="box2">
                    <p><span id="question2" style="color: white;"></span></p>
                    <div class="answers">
                        <button class="correct">A</button>
                        <button class="incorrect">B</button>
                        <button class="incorrect">C</button>
                        <button class="incorrect">D</button>
                    </div>
                </div>
            </div>
            <!-- card4-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2" id="box3">
                    <p><span id="question3" style="color: white;"></span></p>
                    <div class="answers">
                        <button class="incorrect">A</button>
                        <button class="incorrect">B</button>
                        <button class="correct">C</button>
                        <button class="incorrect">D</button>
                    </div>
                </div>
            </div>

    </div>
    <!-- coloumn2-->
    <div class="row">
            <!-- card1-->
            <div class="card">
                <div class="face face1" id="cat2">
                    <img src="images/cardIcons/cardicon2.JPG">
                </div>
                <div class="face face2">
                    <h1 id="category2" style="color: white;"></h1>
                </div>
            </div>
            <!-- card2-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon2.JPG">
                </div>
                <div class="face face2" id="box4">
                    <p><span id="question4" style="color: white;"></span></p>
                    <div class="answers">
                        <button class="incorrect">A</button>
                        <button class="incorrect">B</button>
                        <button class="incorrect">C</button>
                        <button class="correct">D</button>
                    </div>
                </div>
            </div>
            <!-- card3-->
            <div class="card">
                <div class="face face1" >
                    <img src="images/cardIcons/cardicon2.JPG">
                </div>
                <div class="face face2" id="box5">
                    <p><span id="question5" style="color: white;"></span></p>
                    <div class="answers">
                        <button class="incorrect">A</button>
                        <button class="correct">B</button>
                        <button class="incorrect">C</button>
                        <button class="incorrect">D</button>
                    </div>
                </div>
            </div>
            <!-- card4-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon2.JPG">
                </div>
                <div class="face face2" id="box6">
                    <p><span id="question6" style="color: white;"></span></p>
                    <div class="answers">
                        <button class="incorrect">A</button>
                        <button class="incorrect">B</button>
                        <button class="incorrect">C</button>
                        <button class="correct">D</button>
                    </div>
                </div>
            </div>
    </div>
    <!-- coloumn3-->
    <div class="row">
          <!-- card1-->
            <div class="card">
                <div class="face face1" id="cat3">
                    <img src="images/cardIcons/cardicon3.JPG">
                </div>
                <div class="face face2">
                <h1 id="category3" style="color: white;"></h1>
                </div>
            </div>
            <!-- card2-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon3.JPG">
                </div>
                <div class="face face2" id="box7">
                    <p><span id="question7" style="color: white;"></span></p>
                    <div class="answers">
                        <button class="incorrect">A</button>
                        <button class="incorrect">B</button>
                        <button class="correct">C</button>
                        <button class="incorrect">D</button>
                    </div>
                </div>
            </div>
            <!-- card3-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon3.JPG">
                </div>
                <div class="face face2" id="box8">
                    <p><span id="question8" style="color: white;"></span></p>
                    <div class="answers">
                        <button class="correct">A</button>
                        <button class="incorrect">B</button>
                        <button class="incorrect">C</button>
                        <button class="incorrect">D</button>
                    </div>
                </div>
            </div>
            <!-- card4-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon3.JPG">
                </div>
                <div class="face face2" id="box9">
                    <p><span id="question9" style="color: white;"></span></p>
                    <div class="answers">
                        <button class="incorrect">A</button>
                        <button class="incorrect">B</button>
                        <button class="incorrect">C</button>
                        <button class="correct">D</button>
                    </div>
                </div>
            </div>
    </div>
    <!-- coloumn4-->
    <div class="row">
          <!-- card1-->
            <div class="card">
                <div class="face face1" id="cat4">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2">
                    <h1 id="category4" style="color: white;"></h1>
                    
                </div>
            </div>

            <!-- card2-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2" id="box10">
                    <p><span id="question10" style="color: white;"></span></p>
                    <div class="answers">
                        <button class="incorrect">A</button>
                        <button class="correct">B</button>
                        <button class="incorrect">C</button>
                        <button class="incorrect">D</button>
                    </div>
                </div>
            </div>
            <!-- card3-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2" id="box11">
                    <p><span id="question11" style="color: white;"></span></p>
                    <div class="answers">
                        <button class="incorrect">A</button>
                        <button class="incorrect">B</button>
                        <button class="incorrect">C</button>
                        <button class="correct">D</button>
                    </div>
                </div>
            </div>
            <!-- card4-->
            <div class="card">
                <div class="face face1">
                    <img src="images/cardIcons/cardicon1.JPG">
                </div>
                <div class="face face2" id="box12">
                    <p><span id="question12" style="color: white;"></span></p>
                    <div class="answers">
                        <button class="correct">A</button>
                        <button class="incorrect">B</button>
                        <button class="incorrect">C</button>
                        <button class="incorrect">D</button>
                    </div>
                </div>
            </div>
    </div>
    <div class="extra row">
    <div class="scoreDisplay">
        <span>score: <span id="score"></span>
    </div>
    
    <!--answerDisplay-->
    <div class="container-sm">
        <ul>
            <li class="answers" >A:<span id="divA" ></span></li>
            <li class="answers" >B:<span id="divB" ></span></li>
            <li class="answers" >C:<span id="divC" ></span></li>
            <li class="answers" >D:<span id="divD" ></span></li>
        </ul>
    </div>
    </div>

    {{!-- added navigator buttons --}}
    <nav>
    <a href="/members"><strong>Home</strong></a>
    <hr>
    <a href="/logout"><strong>Logout</strong></a>
</nav>
</div>
</nav>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/trivia-api.js"></script>

