body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
}

img {
    width: 175px;
    height: 65px;
}

.row {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
}

button {
    font-size: 10px;
    width: 100px;
    color: black;
}

.container {
    width: 95vw;
    height: 100vh;
    display: flex;
    flex: row;
    align-items: center;
    align-content: center;
}

.card {
    position: relative;
    width: 200px;
    height: 100px;
    flex-direction: row;
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(48, 46, 46);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: seashell;
    padding: 5px;
}

.card .face.face1 {
    top: 0;
    left: 0;
    transition-property: left, z-index, transform;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s, .5s;
    z-index: 2;
    transform: translate(-10px, -5px);
}

.card:hover .face.face1 {
    transition-property: transform, z-index, left;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s, .5s;
    transform: translate(170px, -5px);
    z-index: 1;
    left: -160px;
}

.card .face.face2 {
    margin: 5px, 5px, 5px, 5px;
    background-color: #111;
    top: 0;
    left: 0;
    transition-property: left, z-index, transform;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s, .5s;
    z-index: 1;
}

.card:hover .face.face2 {
    transition-property: transform, z-index, left;
    transition-delay: 0s, .5s, .5s;
    transition-duration: .5s, 0s, .5s;
    transform: translateX(-160px);
    z-index: 2;
    left: 160px;
}

.card .face.face1 img {
    max-width: 100%;
}

.card .face.face2 .content {
    padding: 20px;
    box-sizing: border-box;
}

.card .face.face2 .content h5 {
    margin: 0;
    padding: 0;
    color: #fff;
}

.card .face.face2 .content p {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
}

.question {
    display: flex;
    flex-direction: column;
}


/*showDisplay*/

.extra {
    display: flex;
    flex: center;
    flex-direction: column;
}

.answerDisplay {
    background: #fff;
    border: 3px solid blue;
    width: 175px;
    height: 100px;
    margin: 10px;
    padding: 5px;
}

.timerDisplay {
    background: #fff;
    border: 3px solid blue;
    width: 100px;
    height: 75px;
    margin: 10px;
    padding: 5px;
}

.scoreDisplay {
    background: #fff;
    border: 3px solid blue;
    width: 100px;
    height: 75px;
    margin: 10px;
    padding: 5px;
}

.button {
    border-radius: 50px;
}

.answers {
    font-size: larger;
    color: white;
}

.shadow {
    position: relative;
    margin: 0;
    width: 95vw;
    height: 80vh;
    background: linear-gradient(0deg, rgb(0, 0, 0), rgb(38, 38, 38));
}

.shadow:before,
.shadow:after {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #eb3e3e, #0000ff, #ffae00, #f0f0c4, #aa1cce, #eb3e3e, #0000ff, #ffae00, #f0f0c4, #aa1cce);
    /*othercolorway*/
    /*background: linear-gradient(45deg, #eb3e3e, #0000ff, #ffae00, #f0f0c4, #aa1cce, #eb3e3e, #0000ff, #ffae00, #f0f0c4, #aa1cce);*/
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animateBorder 20s linear infinite;
}

.shadow:after {
    filter: blur(10px);
}

@keyframes animateBorder {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}