/*animated background style*/

* {
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #111;
}

.container .box {
    position: relative;
    width: 20px;
    height: 20px;
    background: #111;
    float: left;
    border: 1px solid rgba(17, 17, 17, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 75%;
}

.container .box:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background: #111;
    box-shadow: 0 1px 4px #112;
    transition: 0.5s ease-in-out;
}

.container .box:hover:before {
    transition: 0s ease-in-out;
}

.container .box:nth-child(9n+1):hover:before {
    background: #a09f9f;
    box-shadow: 0 0 3px #a09f9f, 0 0 10px #a09f9f;
}

.container .box:nth-child(9n+2):hover:before {
    background: #0f0;
    box-shadow: 0 0 3px #0f0, 0 0 10px #0f0;
}

.container .box:nth-child(9n+3):hover:before {
    background: #00f;
    box-shadow: 0 0 3px #00f, 0 0 10px #00f;
}

.container .box:nth-child(9n+4):hover:before {
    background: #8707b9;
    box-shadow: 0 0 3px #8707b9, 0 0 10px #8707b9;
}

.container .box:nth-child(9n+5):hover:before {
    background: #ff0;
    box-shadow: 0 0 3px #ff0, 0 0 10px #ff0;
}

.container .box:nth-child(9n+6):hover:before {
    background: #0ff;
    box-shadow: 0 0 3px #0ff, 0 0 10px #0ff;
}

.container .box:nth-child(9n+7):hover:before {
    background: #f0f;
    box-shadow: 0 0 3px #f0f, 0 0 10px #f0f;
}

.container .box:nth-child(9n+8):hover:before {
    background: #e94d1e;
    box-shadow: 0 0 3px #e94d1e, 0 0 10px #e94d1e;
}

.container .box:nth-child(9n+9):hover:before {
    background: #00ffad;
    box-shadow: 0 0 3px #00ffad, 0 0 10px #00ffad;
}

.container .box:nth-child(9n+10):hover:before {
    background: #f45103;
    box-shadow: 0 0 3px #f45103, 0 0 10px #f45103;
}


/*mouse particle effects*/