body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgb(131, 130, 130);
}

a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    transform-origin: center center;
}

span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    background: rgba(255, 255, 255, .5);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 30px;
    text-transform: uppercase;
    color: olivedrab;
    transition: 1s;
}

span.front {
    transform: rotateX(0deg) translateZ(20px);
}

a:hover span.front {
    transform: rotateX(-180deg) translateZ(20px);
}

span.middle {
    background
}

span.back {
    transform: rotateX(180deg) translateZ(20px);
}

a:hover span.back {
    transform: rotateX(0deg) translateZ(20px);
}